<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Devour-The-Burger</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous">
    <!--link to css stylesheet-->
    <link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
    <!--link to js-->
    <script src="/assets/js/html.js"></script>
</head>
<!--body-->
<body>
    <br><br>
    <div class="container">
        <div class="row">
            <div class="onset-md-5 col-md-4 offset-md-5">
                <div class="jumbotron">
                    <h2>Mangez-le-Burger!</h2>
                    <hr>
                    <img id="picOfBurger" src="public/assets/img/burger.JPG">
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {{{ body }}}
            </div>
        </div>
    </div>
</body>
</html>